
/******************************************************************************************************************************
                                                             PAGE 1
*******************************************************************************************************************************/


/******************************************************************************************************************************
1.GENERALE
*******************************************************************************************************************************/

body{ margin:0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:1rem; font-weight:normal;
      line-height:1.5; color:#333; overflow-x:hidden; }

/******************************HEADER***************************************************/

.header-content{ z-index:2; }

.header-content h1{ font-size:50px; margin-bottom:0; }

.header-content p{ font-size:1.5rem; display:block; padding-bottom:2rem; }

/*****************************************************************************************/

/******************************BOUTON***************************************************/

.btn{ background: #0062cc; color:#fff; font-size:1.2rem; padding: 0.5rem 1.5rem; text-decoration: none; }
.btn:hover{ background: #d39e00; color:#fff; font-size:1.2rem; padding: 1rem 2rem; text-decoration: none; }

/*****************************************************************************************/

/******************************SECTION***************************************************/

.section{ padding:20px 0; }

.section-b{ background:#333; color:#fff; }

/*****************************************************************************************/

/******************************************************************************************************************************
2.VIDEO
*******************************************************************************************************************************/

.v-header{ height:100vh; display:flex; align-items:center; color:#fff; }

.container{ max-width:960px; padding-left:1rem; padding-right:1rem; margin:auto; text-align:center; }

.fullscreen-video-wrap{ position:absolute; top:0; left:0; width:100%; height:100vh; overflow:hidden; }

.fullscreen-video-wrap video{ min-height:100%; min-width:100%; contain: size;}

/******************************************************************************************************************************
3.OVERLAY
*******************************************************************************************************************************/

.header-overlay{ height:100vh; position: absolute; top:0; left:0; width:100vw; z-index:1; background:#225470;
                 opacity:0.55; }

/******************************************************************************************************************************
                                                             PAGE 2
*******************************************************************************************************************************/

/******************************************************************************************************************************
1.GENERALE
*******************************************************************************************************************************/

*{ margin: 0px; padding: 0px; }

/******************************************************************************************************************************
2.HEADER
*******************************************************************************************************************************/

#main{ background-image: url('https://believemy.com/uploads/5d4bd34ac95c862c36d0ab9bbeb738dd_4bc5c3dd1be7c919630b687313dda68a.jpeg');
       background-size: cover; background-position: center; -webkit-user-modify: read-write-plaintext-only; }

/******************************************************************************************************************************
3.SECTION 1
*******************************************************************************************************************************/

#dropdown{
    background-image: url('https://believemy.com/uploads/f536b82491a5a3c07e60cf2b977ded35_03b49c2a70d5bf98d966a517f96cfb87.jpeg');}

/******************************************************************************************************************************
4.MODAL-VID
*******************************************************************************************************************************/

.modal-dialog .modal-lg{ width: 3750px; height: 5400px; }

#modal-body{ padding: 1px; margin:100px; }